@import '_variables';
@import '~vuejs-noty/dist/vuejs-noty';

/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind preflight;

html, body {
  height: 100%;
}

body {
  background: $background-color;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  height: 100%;
}

#title {
  position: absolute;
  top: 15px;
  left: 28px;
  user-select: none;

  font-family: 'Bellefair', serif;
  font-size: 50px;
  color: #656B75;

  .lighter {
    color: #E6E8EC;
  }
}

/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind utilities;
